{% extends 'base.html' %}
{% block title %}Crazy Pet Adoption Agency{% endblock %}
{% block content %}
<h1>Available Pets</h1>
<a href="/add" class="btn btn-lg btn-success mb-3">Add Pet</a>
<ul>
    {% for pet in pets %}
    <li>
        <div class="card" style="width: 18rem;">
            <img src="{{pet.photo_url}}" class="card-img-top" alt="Photo of {{pet.name}}">
            <div class="card-body">
                <h5 class="card-title">{{pet.name}}</h5>
                {% if pet.available %}
                <b>Available</b>
                {% endif %}
                <a href="/{{pet.id}}" class="btn btn-sm btn-primary"> Edit</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}