{% extends 'base.html' %}
{% block title %}{{pet.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="col-6">

        <h1>{{pet.name}}</h1>
        <h5><b>Species:</b> {{pet.species}}</h5>
        {% if pet.photo_url %}
        <img src="{{pet.photo_url}}" alt="Photo of {{pet.name}}" class="rounded fload-left img-thumbnail">
        {% endif %}
        {% if pet.photo_url %}
        <h5><b>Age:</b> {{pet.age}}</h5>
        {% endif %}

        <form action="" method="POST">
            {{ form.hidden_tag() }}

            <p>
                {{ form.photo_url.label }}
                {{ form.photo_url(class_='form-control') }}

            <p>
                {{ form.notes.label }}
                {{ form.notes(class_='form-control') }}
            </p>

            <p>
                {{ form.available.label }}
                {{ form.available }}
            </p>

            <button class="btn btn-success">Save Pet</button>
        </form>
    </div>

</div>


{% endblock %}